@media (max-width: 768px) {
    /* styles for small screens */
    
  }
  
.chat .users, .chat .chatbox{
    display:inline-block;
    vertical-align:top;
    height:350px;
    padding:0px 15px;
    position:relative;
}
.chat .users{
    background:#faa6a6;
    color:white;
    width:175px;
    overflow-y:auto;
    height: 390px;
}
.chat .chatbox{
    background:#ffdcdc;
    color:black;
    margin-left:4px;
    width:700px;
    height: 390px;
}
.chat .chatbox .msgs{
    border-top:1px solid black;
    border-bottom:1px solid black;
    overflow-y:auto;
    height:260px;
}
.chat .chatbox #msg_form{
    padding-top:1.5px;
}
.chat .error{color:red;}
.chat .success{color:green;}
.chat .msgs .msg, .chat .users .user{border-bottom:1px solid black;padding:4px 0px;white-space:pre-line;word-break:break-word;}
.chat .msgs .msg, .chat .users .user{border-bottom:1px solid black;padding:4px 0px;white-space:pre-line;word-break:break-word;}

.border{
    border-bottom: 1px solid black;
}

.group-chat {
    width: 700px;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(54, 64, 110);
    padding: 5px;
    height: 470px;
}

.chat-input {
    padding-right: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: medium;
}

.chat-button {
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
  
